{% if section.settings.page_title_enable %}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
{% endif %}

{% if section.settings.page_content_enable %}
  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Charity page content",
    "settings": [
      {
        "type": "checkbox",
        "id": "page_title_enable",
        "label": "Show page title",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "page_content_enable",
        "label": "Show page content",
        "default": true
      }
    ]
  }

{% endschema %}
