{% section 'company-tabs' %}

<div class="page-width page-width--narrow page-content">

  {%- render 'breadcrumbs' -%}

  {%- section 'page-charity-template' -%}

  {% section 'faq-charity' %}

</div>
